$main-color : rgb(255, 255, 255);
$secondary-color : #000;
$orange-color : rgba(243, 205, 110, 0.952);
$gray-color: rgb(97, 93, 93);
$cream-color:rgb(252, 244, 221);
$orange-section:rgb(228, 178, 140);
$login-color:rgb(255, 186, 140);